# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
      args: [--allow-multiple-documents]
    - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 26.1.0
  hooks:
    - id: black
- repo: https://github.com/owenlamont/uv-secure
  rev: 0.15.4
  hooks:
    - id: uv-secure
# - repo: https://github.com/astral-sh/ruff-pre-commit
#   rev: v0.15.0
#   hooks:
#     - id: ruff-check
#       types_or: [python, pyi]
#       args: [ --fix ]
#     # - id: ruff-format
#     #   types_or: [python, pyi]
